.number{
    float: left;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #5cb85c;
    border: 2px solid #5cb85c;
    color: white;
    text-align: center;
    font: 19px Arial, sans-serif;
}
.number1{
    float: left;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #666;
    border: 2px solid #666;
    color: white;
    text-align: center;
    font: 19px Arial, sans-serif;
}
.line{
    background: #666;
    position: absolute;
    height: 1px;
    width: 65px;
    margin-top: 20px;
    margin-left: -17px;
}
.line1{
    background: #666;
    position: absolute;
    height: 1px;
    width: 65px;
    margin-top: 20px;
    margin-left: 420px;
}
.line2{
    background: #666;
    position: absolute;
    height: 1px;
    width: 65px;
    margin-top: 20px;
    margin-left: 650px;
}
.line3{
    background: #666;
    position: absolute;
    height: 1px;
    width: 82px;
    margin-top: 20px;
    margin-left: -3px;
}
.row input{
    border:none;
    border-bottom: 1px solid #666;
    outline: none;
}
.row label{
    position: absolute;
}